@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
  box-sizing: border-box;
}
body{
  background-color: #22254b;
  color: white;
  
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.root{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

header{
  background-color: #373b49;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}
.btn{
  background-color: #373b49;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
  color: white;
  margin-right: 16px;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  font-style: bold;

}
.logo{
  justify-content: left;
  margin-right: 900px;
  color: white;
  font-size: 20px;
}
.search{
background-color: white;
  border: 2px solid #22254b;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 50px;
color:black;
  padding: 0.5rem 1.5rem;
  
}


.movie_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.movie{
  background-color: #373069;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  
  position: relative;
  margin: 1rem;
  overflow: hidden;
  width: 300px;
}
.movie img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  
}
.movie_info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: auto;

}
.movie_info h1{
  font-size: 14px;
}
.movie_info h3{
  margin: 0;

}
.movie_overview{
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1));
  color: #22254b;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height:100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.movie:hover .movie_overview{
  transform: translate(0%);
}

.tag{
  background-color:#22254b ;
  border-radius: 5px;
  padding: 0.5rem;
}
.tag.green{
  color: green;

}
.tag.orange{
  color: orange;

}
.tag.red{
  color: red;

}